#mywishlist/wishlist.css
        .body { background-color: #d4d4d4;}
        .scrollbox{
            margin-left: 0px;
            max-width: fit-content;
            max-height: 250px;
            overflow-y: scroll;
            padding: 20px; }
        .navi{
            background-color: #dcdcdc;
            overflow: hidden;
            padding: 10px;}
        .ABOUT{
            margin-left: 18%;
            color: #000000;
            margin-bottom: 0px; }
        .container1 {
            margin-left: 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: top;
            height: 120px; 
            margin-top: 0px;
            margin-bottom: 20%;}
        .box1 {
            align-content: top;
            display: flex;
            max-width: 700px;
            height: 200px;
            padding: 20px;
            border-radius: 10px;
            border: 2px solid #000000;
            margin: 15px;
            background-color: #d6d6d6; }
        .img1 {
            width: auto;
            height: auto;
            margin-right: 15px; }
        .box2 {
            align-content: top;
            max-width: 450px;
            height: 200px;
            padding: 0px;
            margin: 0px;
            background-color: #d6d6d6; }
        .description1 {
            padding: 20px;
            border-radius: 10px;
            border: 2px solid #000000;
            background-color: #d6d6d6;
            max-width: 300px;
            max-height: 200px;
            font-size: 5px;
            color: #1f1f1f; }
        .price {
            color: #535353;
            font-weight: bold;}
        .initial {
            font-size: 25px;
            font-family:'Times New Roman';
            font-weight: bold;}
        .title {
            align-content: center;
            font: times new roman;
            font-size: 30px;
            font-weight: bold;
            color: #000000;
            margin-bottom: 20px;}
        .button {
            background-color: #1a1a1a;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 5%;}
        button:hover {
            background-color: #6d6d6d;
            cursor: pointer; }